{% extends 'layouts/app.html' %}


{% block header %}
  <h1 class="text-center">
    Welcome to the Guitarist App
  </h1>
{% endblock %}


{% block content %}
  <div class="text-center my-django-bottom">
    <h3>Django Reinhardt</h3>
    <h4>1910 - 1953</h4>
  </div>
{% endblock %}