<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app.css' %}"
    >

    <script
      defer
      type="text/javascript"
      src="{% static 'app.js' %}"
    ></script>

    <title>Guitarists</title>

  </head>


  <body>

    <section class="container-fluid">
      <div class="row">
        
        {% include '../_partials/_aside.html' %}


        <main role="main" class="col">
          <header>
            {% block header %}
            {% endblock %}
          </header>
          
          <article>
            {% block content %}
            {% endblock %}
          </article>
        </main>

      </div>
    </section>

  </body>

</html>