<aside
  data-controller="menu"
  data-menu-pathname="/"
  class="col-md-4 col-lg-3 col-xl-2"
>
  <div
    class="d-flex flex-wrap justify-content-center d-md-block"
  >
    
    <div class="my-aside-button">
      <a
        href="{% url 'home' %}"
        class="btn btn-sm btn-outline-light"
        data-pathname="/"
      >
        Home
      </a>
    </div>
    
    <div class="my-aside-button">
      <a
        href="{% url 'countries:list' %}"
        class="btn btn-sm btn-outline-light"
        data-pathname="/countries"
      >
        Countries
      </a>
    </div>
    
    <div class="my-aside-button">
      <a
        href="{% url 'guitarists:list' %}"
        class="btn btn-sm btn-outline-light"
        data-pathname="/guitarists"
      >
        Guitarists
      </a>
    </div>

  </div>
</aside>