{% extends 'layouts/none.html' %}

{% block content %}

  <h3 class="text-center">
    {{ guitarist.fullname }}
  </h3>

  <h4 class="text-center">
    {{ guitarist.country.label }}
  </h4>

  {% if guitarist.description %}
    <h5 class="text-justify">
      {{ guitarist.description }}
    </h5>
  {% endif %}

  <div class="my-padding-4 text-center">
    <button
      class="btn btn-sm btn-outline-dark"
      data-controller="guitarist"
      data-action="guitarist#hide"
    >
      <i class="fas fa-eye-slash my-margin-right-12"></i>
      <span>Hide</span>
    </button>
  </div>


  <div class="text-center">
    <div class="bg-danger text-light my-padding-19">
      <iframe
        src="{{ guitarist.url }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

{% endblock %}
