{% extends 'layouts/app.html' %}

{% block header %}
  <h1 class="text-center">
    Add a new guitarist
  </h1>
{% endblock %}


{% block content %}

  <form
    data-controller="form"
    data-action="submit->form#submit"
    data-form-action="{% url action %}"
    data-form-method="post"
    data-form-redirect="{% url redirect %}"
    enctype="multipart/form-data"
  >

    {% csrf_token %}

    <div class="row my-padding-bottom-19">
      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.fullname.errors }}
      </div>

      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
        {{ form.fullname.label_tag }}
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.fullname }}
      </div>
    </div>


    <div class="row my-padding-bottom-19">
      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.country_id.errors }}
      </div>

      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
        {{ form.country_id.label_tag }}
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        <select name="country_id" class="form-control" id="country-id">
          {% for country in countries %}
            <option value="{{ country.id }}">
              {{ country.label }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>


    <div class="row my-padding-bottom-19">
      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.description.errors }}
      </div>

      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
        {{ form.description.label_tag }}
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.description }}
      </div>
    </div>


    <div class="row my-padding-bottom-19">
      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.url.errors }}
      </div>

      <div class="col-md-3 col-lg-4 my-padding-bottom-8">
        {{ form.url.label_tag }}
      </div>

      <div class="col-md-9 col-lg-8 my-padding-bottom-8">
        {{ form.url }}
      </div>
    </div>


    <!-- button Save -->

    <div class="row">
      <div class="col-md-3 col-lg-4"></div>

      <div class="col-md-9 col-lg-8">
        <button
          type="submit"
          class="
              btn
              btn-sm
              btn-success
              my-margin-bottom-8
              my-button-form-submit
            "
        >
          <i class="fas fa-check-circle"></i>
          <span>Save</span>
        </button>
      </div>
    </div>

  </form>

{% endblock %}