{% extends 'layouts/app.html' %}

{% block header %}
  <h1 class="text-center">
    Guitarists
  </h1>

  <div
    class="d-flex flex-wrap justify-content-center"
    id="my-guitarists-action-buttons"
  >
    <a
      href="{% url 'guitarists:create' %}"
      class="btn btn-sm btn-outline-success my-margin-4"
    >
      <i class="fas fa-feather-alt my-margin-right-12"></i>
      <span>Add a new guitarist</span>
    </a>
  </div>
{% endblock %}


{% block content %}

  <div
    class="my-margin-bottom-19 my-frame d-none"
    id="my-guitarist-detail"
  >
  </div>


  <div class="row">

    {% for object in object_list %}

      <div class="col-lg-6 col-xl-4 my-padding-bottom-19 my-guitarist">
        <div class="my-frame">
          <div class="my-padding-bottom-12">
            {{ object.fullname }}
          </div>
          
          <div class="d-flex flex-wrap">

            <div
              class="my-padding-right-8 my-padding-bottom-8"
              data-controller="guitarist"
              data-guitarist-url="{{ object.get_absolute_url }}"
            >
              <button
                class="btn btn-sm btn-outline-dark"
                data-action="click->guitarist#show"
              >
                <i class="fas fa-eye my-margin-right-12"></i>
                <span>Detail</span>
              </button>
            </div>
            
            <div class="my-padding-right-8 my-padding-bottom-8">
              <a
                href="{{ object.get_update_url }}"
                class="btn btn-sm btn-outline-primary"
              >
                <i class="far fa-edit my-margin-right-12"></i>
                <span>Edit</span>
              </a>
            </div>

            <div class="my-padding-bottom-8">
              <button
                class="btn btn-sm btn-danger my-guitarist-delete"
                data-token="{!! csrf_token() !!}"
                data-url="{{ object.get_delete_url }}"
              >
                <i class="far fa-trash-alt my-margin-right-12"></i>
                <span>Delete</span>
              </button>
            </div>

          </div>
        </div>
      </div>

    {% endfor %}

  </div>

{% endblock %}
